<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookdroidproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".adapter.Edit_Profile_Activity"></activity>
        <activity android:name=".User_Profile_Activity" />
        <activity android:name=".Activity_Stores" />
        <activity android:name=".Activity_books" />
        <activity android:name=".DetailEachBook" />
        <activity android:name=".Activity_Notifications" />
        <activity
            android:name=".Activity_Posts"
            android:label="@string/title_activity__posts"
            android:theme="@style/NoActionBar" />
        <activity android:name=".Activity_Feeds" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Activity_sign_up" />
        <activity android:name=".User_Following_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>